<div class="container" id="container">
  <div class="sidebar border" [class.active]="isSidebarCollapsed">
    
    <div class="menu-btn" (click)="toggleSidebar()">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </div>

    <div class="head">
      <div class="user-img">
        <img src="assets/profile.png" alt="Profile">
      </div>
      <div class="user-details" *ngIf="!isSidebarCollapsed">
        <p class="title">Alien</p>
        <p class="name">Artistmayura</p>
      </div>
    </div>

    <div class="menu">
      <p class="title" *ngIf="!isSidebarCollapsed">Main</p>
      <ul>
        <li class="active">
          <a routerLink="/home">
            <i class="bi bi-house"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard">
            <i class="bi bi-file-bar-graph"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/activity">
            <i class="bi bi-activity"></i>
            <span class="text">Activity</span>
          </a>
        </li>
        <li>
          <a routerLink="/journals">
            <i class="bi bi-journals"></i>
            <span class="text">Journal</span>
          </a>
        </li>
        <li>
          <a routerLink="/mood">
            <i class="bi bi-emoji-laughing"></i>
            <span class="text">Mood</span>
          </a>
        </li>
        <li>
          <a routerLink="/schedules">
            <i class="bi bi-calendar-check"></i>
            <span class="text">Schedules</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <ul>
        <li>
          <a routerLink="/setting">
            <i class="bi bi-gear-wide-connected"></i>
            <span class="text">Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu">
      <ul>
        <li>
          <a routerLink="/help">
            <i class="bi bi-info-circle"></i>
            <span class="text">Help</span>
          </a>
        </li>
        <li>
          <a routerLink="/login">
            <i class="bi bi-box-arrow-right"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>


<router-outlet></router-outlet>