<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen bg-gray-50 dark:bg-gray-800 transition-transform"
    [class.-translate-x-full]="!isSidenavOpen">
    <div class="h-full px-3 py-4 overflow-y-auto">
        <button class="mb-4 p-2 text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700"
            (click)="toggleSidenav()">
            <span class="sr-only">Close menu</span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M6.293 4.707a1 1 0 011.414 0L10 7.586l2.293-2.293a1 1 0 111.414 1.414L11.414 9l2.293 2.293a1 1 0 01-1.414 1.414L10 10.414l-2.293 2.293a1 1 0 01-1.414-1.414L8.586 9 6.293 6.707a1 1 0 010-1.414z"/>
            </svg>
        </button>
        <ul class="space-y-2 font-medium">
            <li><a href="#" class="block p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Dashboard</a></li>
            <li><a href="#" class="block p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Journal</a></li>
            <li><a href="#" class="block p-2 text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Mood Track</a></li>
        </ul>
    </div>
</aside>
